
<ul class="menu">
	<li><span class="siteCon">iList</span></li>
	<li><button class="button secondary" ui-sref="addListItem"><span class="words">Add </span><span class="icon-plus"></span></button></li>
	<li><button class="button secondary" ui-sref="viewListItems"><span class="words">View All </span><span class="icon-list2"></span></button></li>
</ul>